@import './colors.scss';

input{
    background: $background;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px 30px;
    box-sizing: border-box;
}
input:hover{
    border: 2px solid $font-color;
}

input:active, input:focus {
    outline: none;
}